<%- include('../partials/header') %>

<h1>My work outs for today</h1>
<section>
<tbody>
    <% plan.workouts.forEach(function(w) { %>
    <tr>
        <li>
            <%= w.category %> |&nbsp 
            <%= w.name %> <form method="POST" action="/workouts/<%= w._id %>?_method=DELETE"><button type="submit">DONE</button></form>
        </li>
    </tr>
      <% }); %>
</tbody>
</section>

<%- include('../partials/footer') %>