<%- include('../partials/header') %>


<div>
    <section class="col-6" id="notes">
        <ul>
            <% plan.notes.forEach(function(n) { %>
                <li>
                    <div id="<%= n._id %>-div"> 
                            <%= n.content %> 
                            <button id="<%= n._id %>-<%= n.content %>" class="update-button">update note</button>
                            <form method="POST" action="/notes/<%= n._id %>?_method=DELETE">
                                <input type="submit" value="x">
                            </form>
                    </div>
                </li>
            <% }); %>
        </ul>
    </section>
    
    <div class="row">
        <div class="col-6 text-center">
            <div>
            <form method="POST" action="/plans/<%= plan._id %>/notes">
                <input name="content"> <input type="submit" value="Add note">
            </form>
    </div>
</div>
    
<div class="col-6">
    <h2>Today's Workouts</h2>
        <% plan.workouts.forEach(function(w) { %>
            <ul >
                <li>
                    <%= w.category %> |&nbsp 
                    <%= w.name %> <form method="POST" action="/workouts/<%= w._id %>?_method=DELETE">
                    <button class="btn btn-success btn-sm" type="submit">DONE</button></form>
                </li>
            </ul>
         <% }); %> 
</div>

<script>
    
    document.getElementById('notes').addEventListener('click', function(evt) {
        //make sure you click on the esit button, otherwise return
        if(!evt.target.classList.contains('update-button')) return;
        //grab notes ID from first half od id
        const noteID = evt.target.id.split('-')[0]
        //grab note content from second half of id
        const noteContent = evt.target.id.split('-')[1]
        //create the edit form as a template
        const template = `
        <form action="/notes/${noteID}?_method=PUT" method="POST">
            <input type="text" name="content" value="${noteContent}">
            <input type="submit" value="confirm Edit">
        </form>
        <a href="/myplan">cancel</a>
        `;
        //replce original "edit" button with working update form
        document.getElementById(`${noteID}-div`).innerHTML = template;
    });
</script>

<%- include('../partials/footer') %>
