<%- include('../partials/header') %>


<main id="plan-show">
    <section id="left">
        <h2>Your notes today</h2>
        <form method="POST" action="/plans/<%= plan._id %>/notes">
            <input name="content"> <input class="btn btn-outline-info btn-sm" type="submit" value="Add note">
        </form>
        <ul>
            <% plan.notes.forEach(function(n) { %>
                <li>
                    <div class="note-content" id="<%= n._id %>-div"> 
                        <p><%= n.content %></p>
                        <div>
                            <button id="<%= n._id %>-<%= n.content %>" class="update-button">update note</button>
                            <form method="POST" action="/notes/<%= n._id %>?_method=DELETE">
                                <input class="btn btn-danger btn-sm" type="submit" value="x">
                            </form>
                        </div>
                    </div>
                </li>
            <% }); %>
        </ul>

    </section>
    <section id="right">
            <h2>Today's Workouts</h2>
            <div>
                <ul>
                <% plan.workouts.forEach(function(w) { %>
                    <li class="workout-plan">
                        <p><%= w.category %> |&nbsp <%= w.name %></p>
                        <form method="POST" action="/workouts/<%= w._id %>?_method=DELETE">
                            <button class="btn btn-success btn-sm" type="submit">DONE</button>
                        </form>
                    </li>
                <% }); %> 
                </ul>
            </div>
    </section>
</main>

<script>
    
    document.getElementById('left').addEventListener('click', function(evt) {
        //make sure you click on the esit button, otherwise return
        if(!evt.target.classList.contains('update-button')) return;
        //grab notes ID from first half od id
        const noteID = evt.target.id.split('-')[0]
        //grab note content from second half of id
        const noteContent = evt.target.id.split('-')[1]
        //create the edit form as a template
        const template = `
        <form action="/notes/${noteID}?_method=PUT" method="POST">
            <input type="text" name="content" value="${noteContent}">
            <input type="submit" value="confirm Edit">
        </form>
        <a href="/myplan">cancel</a>
        `;
        //replce original "edit" button with working update form
        document.getElementById(`${noteID}-div`).innerHTML = template;
    });
</script>

<%- include('../partials/footer') %>
