<%- include('../partials/header') %>


<div>
    <section class="col-6" id="notes">
        <ul>
            <% plan.notes.forEach(function(n) { %>
                <li data-notesid="<%= n._id %>">
                    <%= n.content %> 
                        <div id="<%= n._id %>-div"> 
                            <button id="<%= n._id %>" class="update-button">update note</button>
                        </div>
                    <form method="POST" action="/notes/<%= n._id %>?_method=DELETE">
                        <input type="submit" value="x">
                    </form>
                </li>
            <% }); %>
        </ul>
    </section>
    
    <div class="row">
        <div class="col-6 text-center">
            <div>
            <form method="POST" action="/plans/<%= plan._id %>/notes">
                <input name="content"> <input type="submit" value="Add note">
            </form>
    </div>
</div>
    
<div class="col-6">
    <h2>Today's Workouts</h2>
        <% plan.workouts.forEach(function(w) { %>
            <ul >
                <li>
                    <%= w.category %> |&nbsp 
                    <%= w.name %> <form method="POST" action="/workouts/<%= w._id %>?_method=DELETE">
                    <button class="btn btn-success btn-sm" type="submit">DONE</button></form>
                </li>
            </ul>
         <% }); %> 
</div>

<script>
    document.getElementById('notes').addEventListener('click', fuction(evt) {
        const notesID = evt.target.id
    });
</script>

<%- include('../partials/footer') %>