<%- include('../partials/header') %>
<tbody>
    <% workouts.forEach(function(w) { %>
    <tr>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <%= w.category %> |&nbsp
                <%= w.name %>&nbsp&nbsp&nbsp
                <% if(user) { %>
                <form action="/workouts/<%= w._id %>/plan" method="POST">
                    <input class="btn btn-warning" type="submit" value="ADD WORKOUT">
                </form>
                <% } %>
            </li>
        </ul>   
    </tr>
      <% }); %>
</tbody>
<%- include('../partials/footer') %>