<%- include('../partials/header') %>
<div class="row"> 
    <% workouts.forEach(function(w) { %>
       <div class="col-4">
        <ul>
            <li id="main-workouts">
                <%= w.category %> |&nbsp
                <%= w.name %>&nbsp&nbsp&nbsp
                <% if(user) { %>
                <form action="/workouts/<%= w._id %>/plan" method="POST">
                    <input class="btn btn-warning btn-sm" type="submit" value="ADD WORKOUT">
                </form>
                <% } %>
            </li>
        </ul>   
     </div>
        <% }); %>
</div>

<%- include('../partials/footer') %>